:root{
    --cor-fundo: #121215;
    --cor-fonte: #eaeaea;
    --cor-fonte-sec: #bebebf;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-areas: "profile timeline";
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 100vh;
}

nav{
    padding: 64px;
    grid-area: timeline;
    overflow-y: scroll;
}

nav::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
nav::-webkit-scrollbar-track {
    background: var(--cor-fundo);        /* color of the tracking area */
}

nav::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#d39e3344, #ed563644, #633bbc44);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--cor-fundo);  /* creates padding around scroll thumb */
}

.post{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;

    text-decoration: none;
    color: var(--cor-fonte);
}

.post:last-child{
    margin-bottom: 0;
}

.post small{
    color: var(--cor-fonte-sec);
    font-size: 12px;
}

.post h1{
    font-size: 32;
    
}

.post img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.post p{
    color: var(--cor-fonte-sec);
    font-size: 18px;
    line-height: 28px;
}

aside{
    grid-area: profile;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    border-right: 1px solid;
    border-image: linear-gradient(#727275, #2C2C31) 1;

    background-image: url("../../assets/background.svg");
    background-position: top right;
    background-size: cover;

    min-width: 350px;
}

aside .foto-perfil{
    width: 200px;
    height: 200px;
    background-color: #2C2C31;
    border-radius: 50%;

    border: 4px solid transparent;
    background: linear-gradient(#151527, #252542, #383869) padding-box, linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box;
}

aside p{
    font-size: 32px;
    text-align: center;
    line-height: 40px;
}

aside span{
    font-size: 12px;
    text-align: center;
    color: #9e9e9e;
}